@import url("https://fonts.googleapis.com/css2?family=Anton&family=Archivo+#000000&family=Archivo:wght@800&family=Cabin:wght@500&family=Cinzel+Decorative:wght@900&family=Dancing+Script:wght@500&family=Great+Vibes&family=Lobster+Two:wght@700&family=Montserrat:wght@500&family=Noto+Naskh+Arabic:wght@600&family=Nunito+Sans:wght@300&family=Roboto+Mono:wght@700&display=swap");
*{
    /* outline: red solid 2px; */
    box-sizing: border-box;
    padding: 0;
    transition: all 0.3s ease 0s;
    scroll-behavior: smooth;
}
a{
    cursor: pointer;
    text-decoration: none;
}
button{
    display: block;
    margin: auto;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    background-color: #ffc251;
    border: none;
    border-bottom: 3px solid #b18635;
    border-bottom-right-radius: 8px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #ffffff;
}
button:hover{
    background-color: #ffffff;
    border: 1px solid #b18635;
    color: #ffc251;
}
body{
    padding: 0;
    margin: auto;
}
.hamburgerMenu {
    display: block;
    cursor: pointer;
    background-color: #000000;
    padding: 0.5rem;
    border-radius: 10%;
}
.bar {
    width: 20px;
    height: 2px;
    background-color: #ffc251;
    margin: 4px 0;
}

/* NAVBAR */
header{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 5%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    box-shadow: 0 0 30px black;
    z-index: 10;
}
.logo{
    width: 60px;
    height: 60px;
    object-fit: cover;
    padding: 1px;
    background-color: #ffc251;
    margin-right: 10px;
}
.nav-links li{
    list-style: none;
    display: inline-block;
}
.nav-links li a{
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 14px;
    color: #ffffff;
    padding: 12px;
}
.nav-links li a:hover{
    color: #b18635;
    border-bottom: 1px solid #b18635;
}
.nav-links li a:active{
    background-color: #b18635;
    color: #ffffff;
}

/* INTRO SECTION */
.intro{
    padding: 1rem 7rem;
    margin: 4rem 0 0 0;
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-image: url(images/intro.jpg);
}
.intro h1{
    color: #ffffff;
    font-family: "cinzel decorative", sans-serif;
    font-weight: 50;
    font-size: 5rem;
}
.intro p{
    color: #ffc251;
    font-family: "Montserrat", sans-serif;
    font-weight: 50;
    font-size: 15px;
}

/* HOW IT WORKS SECTION */
.how-it-works{
    width: 100%;
    background-color: #ffffff;
    padding: 2rem;
}
.how-it-works h1{
    color: #ffc251;
    font-family: "Anton", sans-serif;
    font-size: 30px;
    text-align: center;
}
.bold{
    color: #b18635
}
.h-i-w-gal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 2rem auto;
    gap: 2rem;
    width: fit-content;
    height: fit-content;
}
.h-i-w-g-one{
    padding: 1rem;
    width: 20rem;
    height: 15rem;
    color: #b18635;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    text-align: center;
}
.h-i-w-g-one>img{
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    margin: auto;
    padding: 1rem;
    border-radius: 50%;
    border: 3px solid #ffc251;
}

/* OUR MENU SECTION */
.our-menu{  
    padding: 1rem;
}
.our-menu-gal{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: fit-content;
    height: fit-content;
}
.our-menu-gal-one img{
    width: 17rem;
    height: 15rem;
    margin-bottom: 1rem;
    object-fit: cover;
}
.our-menu-gal-one{
    padding: 1rem;
    border: 2px solid #b18635;
    color: #b18635;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}
.our-menu h1{
    color: #ffc251;
    font-family: "Anton", sans-serif;
    font-size: 30px;
    text-align: center;
}

/* WEEKS SPECIAL SECTION */
.weeks-special{
    margin: auto;
    padding: 1rem;
}
.weeks-special h1{
    color: #ffc251;
    font-family: "Anton", sans-serif;
    font-size: 30px;
    text-align: center;
}
.weeks-special-gal{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: fit-content;
    height: fit-content;
}
.weeks-special-one{
    width: 20rem;
    height: 27rem;
    font-family: montserrat;
    font-size: 1rem;
    text-align: justify;
}
.weeks-special-one h1{
    color: #b18635;
    font-family: "Anton", sans-serif;
    font-size: 19px;
    text-align: center;
}
.weeks-special-one img{
    width: 100%;
    height: 40%;
    object-fit: cover;
    margin: auto;
    display: block;
}

/* SPECIAL OFFER */
.special-offer{
    background-image: url(/images/offerBackground.jpg);
    width: 100%;
    height: fit-content;
    background-size: cover;
    padding: 2rem;
}
.special-offer h1{
    color: #ffffff;
    font-family: "Anton", sans-serif;
    font-size: 30px;
    text-align: center;
    text-shadow: 10px 10px 50px #000000;
}
.special-offer-sticker{
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    width: 60%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 30px;
}
.special-offer-sticker-one{
    padding: 5px;
    width: 100%;
    height: fit-content;
}
.special-offer-sticker-one h1{
    color: #ffffff;
    font-family: cinzel decorative;
    text-align: center;
    font-size: 50px;
    margin-bottom: -30px;
}
.special-offer-sticker-one h2{
    color: #ffc251;
    font-family: "lobster two";
    text-align: center;
}
.special-offer-sticker-one ul{
    list-style: none;
}
.special-offer-sticker-one li{
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
    font-size: 15px;
}
.special-offer-sticker-one .nil{
    color: #808080;
    font-family: "Montserrat", sans-serif;
}
.slash{
    border: 1px solid #ffffff;
    height: 250px;
    margin: auto;
}

/* FOOTER  */
footer{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
    bottom: 0;
    position: relative;
    width: 100%;
    box-shadow: 0 0 30px #000000;
    background-color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    color: #ffffff;
}
.footer-describe{
    width: 30%;
    height: fit-content;
    padding: 5px;
    text-align: right;
}
.footer-links {
    width: fit-content;
    padding: 0rem;
}
.footer-links a{
    width: fit-content;
    padding: 3px;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 50;
    font-size: 12px;
    color: #ffffff;
}
.footer-links a:hover{
    color: #b18635;
    border-bottom: 1px solid #b18635;
}
.socials{
    width: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.follow{
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 50;
    font-size: 17px;
    text-align: center;
    color: #b18635;
    border: 1px solid  #b18635;
}
.social-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.social-icons a img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}

/* MEDIA QUERY */
/*450px - MOBILE DEVICES*/
@media (max-width: 450px) {
    .hamburgerMenu {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px; 
        z-index: 30; 
    }
    /* NAVIGATION BAR */
    .nav-links{
        width: fit-content;
        margin: auto;
    }
    .nav-links li{
        display: block;
        margin-bottom: 1rem;
        width: fit-content;
    }
    
    /* INTRO SECTION */
    .intro{
        padding: 1rem;
        margin: 0rem 0 0 0;
        width: 100vw;
        height: 30vh;
    }
    .intro h1{
        font-size: 2rem;
    }
    .intro p{
        font-size: 12px;
    }

    /* HOW IT WORKS SECTION */
    .how-it-works{
        padding: 1rem;
    }
    .how-it-works h1{
        font-size: 25px;
    }
    .h-i-w-gal{
        margin: auto;
        gap: 0rem;
    }
    .h-i-w-g-one{
        padding: 1rem;
        width: 15rem;
        height: 12rem;
    }
    .h-i-w-g-one>img{
        width: 6rem;
        height: 6rem;
        padding: 0rem;
    }
    /* OUR MENU SECTION */
    .our-menu-gal{
        gap: 1rem;
    }
    .our-menu-gal-one img{
        width: 16rem;
        height: 10rem;
        object-fit: cover;
    }
    .our-menu h1{
        font-size: 25px;
    }

    /* WEEKS SPECIAL SECTION */
    .weeks-special h1{
        font-size: 25px;
    }
    .weeks-special-gal{
        gap: 0rem;
    }
    .weeks-special-one{
        width: 20rem;
        height: 20rem;
    }
    .weeks-special-one h1{
        font-size: 20px;
    }
    /* SPECIAL OFFER */
    .special-offer{
        padding: 1rem;
    }
    .special-offer h1{
        font-size: 25px;
    }
    .special-offer-sticker{
        width: 90%;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }
    .slash{
        width: 100%;
        height: 0;
    }
    /* FOOTER  */
    footer{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 1rem;
        font-size: 10px;
    }
    .footer-describe{
        width: 50%;
        padding: 0;
        text-align: justify;
    }
    .footer-links {
        padding: 10px;
    }
    .footer-links a{
        font-size: 10px;
    }
    .socials{
        margin: 0;
        width: 50%;
    }
    .follow{
        margin-bottom: 10px;
        font-size: 15px;
    }
    .social-icons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .social-icons a img{
        width: 30px;
        height: 30px;
        object-fit: cover;
    }
}
/* 451PX - 1200PX - IPADS & TABETS */
@media (min-width: 451px) and (max-width: 1200px) {
    /* INTRO SECTION */
    .intro{
        padding: 2rem;
        margin: 5rem 0 0 0;
        height: 30vh;
    }
    .intro h1{
        color: #ffffff;
        font-family: "cinzel decorative", sans-serif;
        font-weight: 50;
        font-size: 3rem;
    }
    .intro p{
        color: #ffc251;
        font-family: "Montserrat", sans-serif;
        font-weight: 50;
        font-size: 17px;
    }

        /* HOW IT WORKS SECTION */
    .how-it-works{
        padding: 1rem;
    }
    .bold{
        color: #b18635
    }
    .h-i-w-gal{
        margin: auto;
        gap: 1rem;
    }
    .h-i-w-g-one{
        padding: 1rem;
        width: 13rem;
        height: 12rem;
    }
    .h-i-w-g-one img{
        width: 5rem;
        height: 5rem;
    }

    /* OUR MENU SECTION */
    .our-menu{  
        padding: 1rem;
    }
    .our-menu-gal{
        padding: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .our-menu-gal-one img{
        width: 17rem;
        height: 10rem;
    }

    /* WEEKS SPECIAL SECTION */
    .weeks-special-one{
        width: 20rem;
        height: 20rem;
    }
    .special-offer-sticker{
        background-color: rgba(0, 0, 0, 0.7);
        margin: auto;
        width: 90%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        gap: 30px;
        padding: 30px;
    }
}