@import url("https://fonts.googleapis.com/css2?family=Anton&family=Archivo+#000000&family=Archivo:wght@800&family=Cabin:wght@500&family=Cinzel+Decorative:wght@900&family=Dancing+Script:wght@500&family=Great+Vibes&family=Lobster+Two:wght@700&family=Montserrat:wght@500&family=Noto+Naskh+Arabic:wght@600&family=Nunito+Sans:wght@300&family=Roboto+Mono:wght@700&display=swap");
*{
    /* outline: red solid 2px; */
    box-sizing: border-box;
    padding: 0;
    transition: all 0.3s ease 0s;
    scroll-behavior: smooth;
}
a{
    cursor: pointer;
    text-decoration: none;
}
button{
    display: block;
    margin: auto;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    background-color: #ffc251;
    border: none;
    border-bottom: 3px solid #b18635;
    border-bottom-right-radius: 8px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #ffffff;
}
button:hover{
    background-color: #ffffff;
    border: 1px solid #b18635;
    color: #ffc251;
}
body{
    padding: 0;
    margin: auto;
}
.hamburgerMenu {
    display: block;
    cursor: pointer;
    background-color: #000000;
    padding: 0.5rem;
    border-radius: 10%;
}
.bar {
    width: 20px;
    height: 2px;
    background-color: #ffc251;
    margin: 4px 0;
}

/* NAVBAR */
header{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 5%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    box-shadow: 0 0 30px #000000;
    z-index: 10;
}
.logo{
    width: 60px;
    height: 60px;
    object-fit: cover;
    padding: 1px;
    background-color: #ffc251;
    margin-right: 10px;
}
.nav-links li{
    list-style: none;
    display: inline-block;
}
.nav-links li a{
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 14px;
    color: #ffffff;
    padding: 12px;
}
.nav-links li a:hover{
    color: #b18635;
    border-bottom: 1px solid #b18635;
}
.nav-links li a:active{
    background-color: #b18635;
    color: #ffffff;
}

/* MENU */
.menu{
    margin: auto;
    width: 70%;
    height: fit-content;
    padding: 1rem;
}
.menu h1{
    color: #b18635;
    font-family: "Anton", sans-serif;
    font-size: 30px;
    text-align: center;
}
.menu h2{
    margin-top: -35px;
    font-family: "montserrat", sans-serif;
    text-align: center;
}
.special{
    color: rgb(177, 134, 53);
}
.menu-menu-list{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: rgb(0, 0, 0);
    width: 50%;
    height: fit-content;
}
.item p{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.item-name{
    padding: 1rem;
    width: 50%;
    text-align: left;
}
.price{
    padding: 1rem;
    width: 50%;
    text-align: right;
}
/* PANCAKE MENU SECTION */
.pancake-menu{
    margin-top: 10rem;
    padding: 2rem;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
}
.pancake-menus{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.pancake-poster{
    width: 30%;
    height: 32rem;
    padding: 2rem;
}
.pancake-poster img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* SANWICH MENU */
.sandwich-menu{
    padding: 2rem;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 20px;
}
.sandwich-menus{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.sandwich-poster{
    width: 30%;
    height: 32rem;
    padding: 2rem;
}
.sandwich-poster img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* DOUGHNUT MENU */
.doughnut-menu{
    padding: 2rem;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
}
.doughnut-menus{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.doughnut-poster{
    width: 30%;
    height: 32rem;
    padding: 2rem;
}
.doughnut-poster img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* DESSERT MENU */
.dessert-menu{
    padding: 2rem;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 20px;
}
.dessert-menus{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.dessert-poster{
    width: 30%;
    height: 32rem;
    padding: 2rem;
}
.dessert-poster img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* FOOTER  */
footer{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
    bottom: 0;
    position: relative;
    width: 100%;
    box-shadow: 0 0 30px #000000;
    background-color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    color: #ffffff;
}
.footer-describe{
    width: 30%;
    height: fit-content;
    padding: 5px;
    text-align: right;
}
.footer-links {
    width: fit-content;
    padding: 0rem;
}
.footer-links a{
    width: fit-content;
    padding: 3px;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 50;
    font-size: 12px;
    color: #ffffff;
}
.footer-links a:hover{
    color: #b18635;
    border-bottom: 1px solid #b18635;
}
.socials{
    width: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.follow{
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 50;
    font-size: 17px;
    text-align: center;
    color: #b18635;
    border: 1px solid  #b18635;
}
.social-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.social-icons a img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}


/* MEDIA QUERY */
/*450px - MOBILE DEVICES*/
@media (max-width: 450px) {
    .hamburgerMenu {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px; 
        z-index: 30; 
    }
    /* NAVIGATION BAR */
    .nav-links{
        width: fit-content;
        margin: auto;
    }
    .nav-links li{
        display: block;
        margin-bottom: 1rem;
        width: fit-content;
    }
    
    /* MENU */
    .menu{
        margin: auto;
        margin-top: -2rem;
        width: 100%;
        height: fit-content;
        padding: 1rem;
    }
    .menu-menu-list{
        font-size: 12px;
        width: 100%;
        height: fit-content;
    }
    .item p{
        display: inline-block;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .item-name{
        padding: 0.5rem;
        width: 70%;
        text-align: left;
    }
    .price{
        padding: 0.5rem;
        width: 30%;
        text-align: right;
    }
    /* PANCAKE MENU SECTION */
    .pancake-menu{
        margin-top: 0;
        padding: 1rem;
        flex-direction: column;
        gap: 0;
    }
    .pancake-menus{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .pancake-poster{
        margin: auto;
        width: 100%;
        height: 15rem;
        padding: 1rem;
    }
    .pancake-poster img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* SANWICH MENU */
    .sandwich-menu{
        margin-top: 0;
        padding: 1rem;
        flex-direction: column;
        gap: 0;
    }
    .sandwich-menus{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .sandwich-poster{
        margin: auto;
        width: 100%;
        height: 15rem;
        padding: 1rem;
    }
    .sandwich-poster img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* DOUGHNUT MENU */
    .doughnut-menu{
        margin-top: 0;
        padding: 1rem;
        flex-direction: column;
        gap: 0;
    }
    .doughnut-menus{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .doughnut-poster{
        margin: auto;
        width: 100%;
        height: 15rem;
        padding: 1rem;
    }
    .doughnut-poster img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* DESSERT MENU */
    .dessert-menu{
        margin-top: 0;
        margin-bottom: 3rem;
        padding: 1rem;
        flex-direction: column;
        gap: 0;
    }
    .dessert-menus{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .dessert-poster{
        margin: auto;
        width: 100%;
        height: 15rem;
        padding: 1rem;
    }
    .dessert-poster img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* FOOTER  */
    footer{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 1rem;
        font-size: 10px;
    }
    .footer-describe{
        width: 50%;
        padding: 0;
        text-align: justify;
    }
    .footer-links {
        padding: 10px;
    }
    .footer-links a{
        font-size: 10px;
    }
    .socials{
        margin: 0;
        width: 50%;
    }
    .follow{
        margin-bottom: 10px;
        font-size: 15px;
    }
    .social-icons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .social-icons a img{
        width: 30px;
        height: 30px;
        object-fit: cover;
    }
}

/* 451PX - 1200PX - IPADS & TABETS */
@media (min-width: 451px) and (max-width: 1200px) {
    /* MENU */
    .menu{
        width: 60%;
        padding: 0rem;
    }
    .menu-menu-list{
        font-size: 10px;
        width: 50%;
        height: fit-content;
    }
    .item p{
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .item-name{
        padding: 0.5rem;
        width: 72%;
        text-align: left;
    }
    .price{
        padding:  0.5rem;
        width: 28%;
        text-align: right;
    }
    /* PANCAKE MENU SECTION */
    .pancake-menu{
        margin-top: 7rem;
        padding: 0.5rem;
        gap: 0px;
        align-items: flex-end;
    }
    .pancake-menus{
        flex-direction: row;
        gap: 0rem;
    }
    .pancake-poster{
        width: 40%;
        height: 15rem;
        padding: 0.5rem;
    }
    .pancake-poster img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* SANWICH MENU */
    .sandwich-menu{
        padding: 0.5rem;
        gap: 0px;
        align-items: flex-end;
    }
    .sandwich-menus{
        flex-direction: row-reverse;
        gap: 0rem;
    }
    .sandwich-poster{
        width: 40%;
        height: 15rem;
        padding: 0.5rem;
    }
    .sandwich-poster img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* DOUGHNUT MENU */
    .doughnut-menu{
        padding: 0.5rem;
        gap: 0px;
        align-items: flex-end;
    }
    .doughnut-menus{
        flex-direction: row;
        gap: 0rem;
    }
    .doughnut-poster{
        width: 40%;
        height: 15rem;
        padding: 0.5rem;
    }
    .doughnut-poster img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* DESSERT MENU */
    .dessert-menu{
        margin-bottom: 3rem;
        padding: 0.5rem;
        gap: 0px;
        align-items: flex-end;
    }
    .dessert-menus{
        flex-direction: row-reverse;
        gap: 0rem;
    }
    .dessert-poster{
        width: 40%;
        height: 15rem;
        padding: 0.5rem;
    }
    .dessert-poster img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}